In [246]:
import pandas as pd

df = pd.read_csv('data/Capgemini_Employee_Reviews_from_AmbitionBox.csv')

df.head()
len(df.index)

26993

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26993 entries, 0 to 26992
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                25913 non-null  object
 1   Place                24597 non-null  object
 2   Job_type             11556 non-null  object
 3   Department           22083 non-null  object
 4   Date                 25915 non-null  object
 5   Overall_rating       25898 non-null  float64
 6   work_life_balance    26977 non-null  float64
 7   skill_development    26976 non-null  float64
 8   salary_and_benefits  26947 non-null  float64
 9   job_security         26943 non-null  float64
 10  career_growth        26931 non-null  float64
 11  work_satisfaction    26909 non-null  float64
 12  Likes                23905 non-null  object
 13  Dislikes             23038 non-null  object
dtypes: float64(7), object(7)
memory usage: 2.9+ MB

There are 546 rows with identical data.  This does not necessarily mean they are redundant or duplicates.

In [248]:
# Drop rows with missing values in the columns Title and Overall_rating
# Overall rating is the target column and required for classification
# Title is almost always missing when overall rating is missing
before_drop = len(df.index)
df = df.dropna(subset=['Title', 'Overall_rating'])
after_drop = len(df.index)
print(f"There were {before_drop} rows before dropping 'Overall_rating' and {after_drop} rows after dropping 'Overall_rating'")

There were 26993 rows before dropping 'Overall_rating' and 25896 rows after dropping 'Overall_rating'

In [249]:
initial_count = df.shape[0]  # Stores the initial number of rows in the DataFrame
df_without_duplicates = df.drop_duplicates()  # Removes duplicate rows from the DataFrame
without_duplicates_count = df_without_duplicates.shape[0]  # Stores the number of rows after removing duplicates
print(f"There are {initial_count-without_duplicates_count} duplicates found in the dataset")

There are 0 duplicates found in the dataset

In [250]:

print (f"There are {df.isnull().sum()} duplicates.")

There are Title                      0
Place                   1310
Job_type               14341
Department              3830
Date                       0
Overall_rating             0
work_life_balance         12
skill_development         12
salary_and_benefits       21
job_security              22
career_growth             30
work_satisfaction         32
Likes                   2004
Dislikes                2870
dtype: int64 duplicates.

In [251]:
# fill in empty values with NA
# fix Place data
no_place = {
"..": "na",
"any location": "na",
"any": "na",
"any place": "na",
"client location ": "na",
"client office": "na",
"confidential": "na",
"customer location": "na",
"do not with to disclose": "na",
"doesn" "t matter": "na",
"everywhere": "na",
"i don" "t know i did only internship only": "na",
"no idea": "na",
"office": "na",
"somewhere": "na",
"xyz": "na",
"it's very good experience."    : 'na',
"i don't know i did only internship only": "na"
}

outside_india = {
    "uk": "united kingdom",
    "usa": "united states",
    "sydneu": "sydney",
}

bangalore = {
   "6b bangalore": "bangalore",
"6b ecospace": "bangalore",
"6b": "bangalore",
"bagalore": "bangalore",
"baglore": "bangalore",
"bamgalore": "bangalore",
"banagalore": "bangalore",
"banaglore": "bangalore",
"bangaloe": "bangalore",
"bangalor": "bangalore",
"bangalore 6b": "bangalore",
"bangalore dtp": "bangalore",
"bangalore epip": "bangalore",
"bangalore rural": "bangalore",
"bangalore urban": "bangalore",
"bangalore whitefield": "bangalore",
"bangalore.": "bangalore",
"bangalore/bengaluru": "bangalore",
"bangalores": "bangalore",
"bangalorr": "bangalore",
"bangaluru": "bangalore",
"banglore bmp": "bangalore",
"banglore datacom": "bangalore",
"banglore whitefield": "bangalore",
"banglore": "bangalore",
"bbangalore": "bangalore",
"bengalore": "bangalore",
"bengaluru": "bangalore",
"bengaluru/bangalore": "bangalore",
"benglore": "bangalore",
"benguluru": "bangalore",
"blore": "bangalore",
"blr": "bangalore",
"capgemini bangalore": "bangalore",
"dtp bangalore": "bangalore",
"dtp": "bangalore",
"whietfield": "bangalore",
"whiltefield": "bangalore",
"whiltefield": "bangalore",
"white feeld": "bangalore",
"white field dtp": "bangalore",
"white field summit towers a": "bangalore",
"white field": "bangalore",
"White Filed": "bangalore",
"white filed": "bangalore",
"whitefield bangalore": "bangalore",
"whitefield": "bangalore",
"whitefiled": "bangalore",
"whitfield": "bangalore",
}

rest_of_india = {
    "hyderabad/secunderabad": "hyderabad",
    "hyderbad": "hyderabad",
    "hydrabad": "hyderabad",
    "hyder": "hyderabad",
    "hyd": "hyderabad",
    "navi mumbai": "mumbai",
    "mumbai suburban": "mumbai",
    "airoli mumbai": "mumbai",
    "mumbai airoli": "mumbai",
    "airoli navi mumbai": "mumbai",
    "airloi": "mumbai",
    "airoli sez": "mumbai",
    "airloi": "mumbai",
    "airoli,mumbai": "mumbai",
    "airoli,navi mumbai": "mumbai",
    "airolo": "mumbai",
    "airoli sez": "mumbai",
    "airoli west": "mumbai",
    "airoli,maharashtra": "mumbai",
    "airolo": "mumbai",
    "airoil mumbai": "mumbai",
    "airoli yosemite": "mumbai",
    "airoli mindspace": "mumbai",
    "airolii": "mumbai",
    "aeroli": "mumbai",
    "airoli mindspace": "mumbai",
    "new mumbai": "mumbai",
    "vikhroli": "vikhroli",
    "vikhroli - mumbai": "vikhroli",
    "vikhroli east": "vikhroli",
    "vikhroli,mumbai and airoli": "vikhroli",
    "vikroli": "vikhroli",
    "vikroholi": "vikhroli",
    "vikhroli office": "vikhroli",
    "vikhroli mumbai": "vikhroli",
    "vikhroli,mumbai": "vikhroli",
    "vikhrolli": "vikhroli",
    "vikhrolli": "vikhroli",
    "gurgaon/gurugram": "gurgaon",
    "gurugram": "gurgaon",
    "greater noida": "noida",
    "noida nsez": "noida",
    "nsez noida": "noida",
    "nsez": "noida",
    "noida sez": "noida",
    "new delhi": "delhi",
    "delhi ncr": "delhi",
    "talwade pune": "pune",
    "pune talwade": "pune",
    "punr": "pune",
    "hinjewadi pune": "pune",
    "pune hinjewadi": "pune",
    "chenani": "chennai",
    "trichy": "tiruchirappalli",
    "tiruchirapalli": "tiruchirappalli",
    "tiruchuli": "tiruchirappalli",
    "selam": "salem",
    "yasomite airoli": "yosemite airoli",

    "wfh (working remotely)": "remote",
    "work from home (working remotely)": "remote",
    "remote (working remotely)": "remote",
    "remotely": "remote",
    "although i am still working from home so it depends project to project": "remote",
    "home": "remote",
    "no i work from home only during vivid 29": "remote",
    "trich": "tiruchirapalli",
    "trichirapalli": "tiruchirapalli",
    "trichy,vrn": "tiruchirapalli",
    "trichirapalli": "tiruchirapalli",
    "trichirappalli": "tiruchirapalli",
    "talawade": "pune",
    "talwade": "pune",
    "pu ne": "pune",
    "pu e": "pune",
    "pu": "pune",
    "talvade pune": "pune",
    "talwadde": "pune",
    "talawde": "pune",
    "pune,talawade": "pune",
    "talawade,pune": "pune",
    "pube": "pune",
    "talwade,pune": "pune",
    "talawade pune": "pune",
    "talwade pune. depend it" "s chandes": "pune",
}

all_places = no_place | outside_india | bangalore | rest_of_india


df["Place"] = df["Place"].fillna("na").apply(lambda x: x.lower().split(", ")[0])
df["Place"] = df["Place"].replace(all_places)

# where Place is NA and titla contains the phrase "Remotely" we can assume they work remotely for their Place.
def isRemoteTitle(title, place):
    if "na" == place and "Remotely".casefold() in title.casefold():
        return "remote"
    else:
        return place
df["Place"] = df.apply(lambda x: isRemoteTitle(x.Title, x.Place), axis=1)

In [252]:
# Fix Dates

def get_date(x):
    try:
        return str(x)[2:]
    except:
        return 'None'
df['Date'] = df['Date'].fillna('0 None').apply(get_date)
df['Date'] = pd.to_datetime(df['Date'], format="%b %Y",  errors='raise')

In [253]:
# Set ratings as categorical data
from pandas import CategoricalDtype
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer, SimpleImputer

rating_columns = ['Overall_rating', 'work_life_balance', 'skill_development', 'salary_and_benefits', 'job_security', 'career_growth', 'work_satisfaction']

# use SimpleImputer to fill missing values for columnn Overall_rating with the most frequent value
for column in rating_columns:
    imputer = SimpleImputer(strategy='most_frequent')
    df[column] = imputer.fit_transform(df[[column]])
    df[column] = df[column].astype('int32')

rating_categories = CategoricalDtype(categories=[1, 2, 3, 4, 5], ordered=True)

for column in rating_columns:
    df[column] = df[column].astype(rating_categories)

In [254]:
# Set job_type
from pandas import CategoricalDtype
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer, SimpleImputer

job_type_columns = ['Job_type']

# use SimpleImputer to fill missing values for columnn Overall_rating with the most frequent value
for column in job_type_columns:
    imputer = SimpleImputer(strategy='most_frequent')
    df[column] = imputer.fit_transform(df[[column]])
    df[column] = df[column].astype('string')

job_type_categories = CategoricalDtype(categories=['Contractual', 'Freelancer', 'Full Time', 'Intern', 'Part Time'])

for column in job_type_columns:
    df[column] = df[column].astype(job_type_categories)

In [255]:
# Set rest of columns as strings
string_columns = ['Title', 'Place', 'Department', 'Likes', 'Dislikes']

for column in string_columns:
    df[column] = df[column].astype('string')

In [256]:
df.info()

df.to_csv("data/after prep.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25896 entries, 0 to 26975
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                25896 non-null  string
 1   Place                25896 non-null  string
 2   Job_type             25896 non-null  category
 3   Department           22066 non-null  string
 4   Date                 25896 non-null  datetime64[ns]
 5   Overall_rating       25896 non-null  category
 6   work_life_balance    25896 non-null  category
 7   skill_development    25896 non-null  category
 8   salary_and_benefits  25896 non-null  category
 9   job_security         25896 non-null  category
 10  career_growth        25896 non-null  category
 11  work_satisfaction    25896 non-null  category
 12  Likes                23892 non-null  string
 13  Dislikes             23026 non-null  string
dtypes: category(8), datetime64[ns](1), string(5)
memory usage: 1.6 MB