In [115]:
import pandas as pd
import numpy as np
import math

df = pd.read_csv('Capgemini_Employee_Reviews_from_AmbitionBox.csv')

df.head()
len(df.index)

26993

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26993 entries, 0 to 26992
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                25913 non-null  object
 1   Place                24597 non-null  object
 2   Job_type             11556 non-null  object
 3   Department           22083 non-null  object
 4   Date                 25915 non-null  object
 5   Overall_rating       25898 non-null  float64
 6   work_life_balance    26977 non-null  float64
 7   skill_development    26976 non-null  float64
 8   salary_and_benefits  26947 non-null  float64
 9   job_security         26943 non-null  float64
 10  career_growth        26931 non-null  float64
 11  work_satisfaction    26909 non-null  float64
 12  Likes                23905 non-null  object
 13  Dislikes             23038 non-null  object
dtypes: float64(7), object(7)
memory usage: 2.9+ MB

In [117]:
initial_count = df.shape[0]  # Stores the initial number of rows in the DataFrame
df_without_duplicates = df.drop_duplicates()  # Removes duplicate rows from the DataFrame
without_duplicates_count = df_without_duplicates.shape[0]  # Stores the number of rows after removing duplicates
print(f"There are {initial_count-without_duplicates_count} duplicates found in the dataset")

print (df.isnull().sum())

There are 546 duplicates found in the dataset
Title                   1080
Place                   2396
Job_type               15437
Department              4910
Date                    1078
Overall_rating          1095
work_life_balance         16
skill_development         17
salary_and_benefits       46
job_security              50
career_growth             62
work_satisfaction         84
Likes                   3088
Dislikes                3955
dtype: int64

There are 546 rows with identical data.  This does not necessarily mean they are redundant or duplicates.

In [118]:
# Drop rows with missing values in the columns Title and Overall_rating
# Overall rating is the target column and required for classification
# Title is almost always missing when overall rating is missing
df = df.dropna(subset=['Title', 'Overall_rating'])
print (len(df.index))

25896

In [119]:
# fill in empty values with NA
# fix Place data
no_place = {
"..": "na",
"any location": "na",
"any": "na",
"any place": "na",
"client location ": "na",
"client office": "na",
"confidential": "na",
"customer location": "na",
"do not with to disclose": "na",
"doesn" "t matter": "na",
"everywhere": "na",
"i don" "t know i did only internship only": "na",
"no idea": "na",
"office": "na",
"somewhere": "na",
"xyz": "na",
"it's very good experience."    : 'na',
"i don't know i did only internship only": "na"
}

outside_india = {
    "uk": "united kingdom",
    "usa": "united states",
    "sydneu": "sydney",
}

bangalore = {
   "6b bangalore": "bangalore",
"6b ecospace": "bangalore",
"6b": "bangalore",
"bagalore": "bangalore",
"baglore": "bangalore",
"bamgalore": "bangalore",
"banagalore": "bangalore",
"banaglore": "bangalore",
"bangaloe": "bangalore",
"bangalor": "bangalore",
"bangalore 6b": "bangalore",
"bangalore dtp": "bangalore",
"bangalore epip": "bangalore",
"bangalore rural": "bangalore",
"bangalore urban": "bangalore",
"bangalore whitefield": "bangalore",
"bangalore.": "bangalore",
"bangalore/bengaluru": "bangalore",
"bangalores": "bangalore",
"bangalorr": "bangalore",
"bangaluru": "bangalore",
"banglore bmp": "bangalore",
"banglore datacom": "bangalore",
"banglore whitefield": "bangalore",
"banglore": "bangalore",
"bbangalore": "bangalore",
"bengalore": "bangalore",
"bengaluru": "bangalore",
"bengaluru/bangalore": "bangalore",
"benglore": "bangalore",
"benguluru": "bangalore",
"blore": "bangalore",
"blr": "bangalore",
"capgemini bangalore": "bangalore",
"dtp bangalore": "bangalore",
"dtp": "bangalore",
"whietfield": "bangalore",
"whiltefield": "bangalore",
"whiltefield": "bangalore",
"white feeld": "bangalore",
"white field dtp": "bangalore",
"white field summit towers a": "bangalore",
"white field": "bangalore",
"White Filed": "bangalore",
"white filed": "bangalore",
"whitefield bangalore": "bangalore",
"whitefield": "bangalore",
"whitefiled": "bangalore",
"whitfield": "bangalore",
}

rest_of_india = {
    "hyderabad/secunderabad": "hyderabad",
    "hyderbad": "hyderabad",
    "hydrabad": "hyderabad",
    "hyder": "hyderabad",
    "hyd": "hyderabad",
    "navi mumbai": "mumbai",
    "mumbai suburban": "mumbai",
    "airoli mumbai": "mumbai",
    "mumbai airoli": "mumbai",
    "airoli navi mumbai": "mumbai",
    "airloi": "mumbai",
    "airoli sez": "mumbai",
    "airloi": "mumbai",
    "airoli,mumbai": "mumbai",
    "airoli,navi mumbai": "mumbai",
    "airolo": "mumbai",
    "airoli sez": "mumbai",
    "airoli west": "mumbai",
    "airoli,maharashtra": "mumbai",
    "airolo": "mumbai",
    "airoil mumbai": "mumbai",
    "airoli yosemite": "mumbai",
    "airoli mindspace": "mumbai",
    "airolii": "mumbai",
    "aeroli": "mumbai",
    "airoli mindspace": "mumbai",
    "new mumbai": "mumbai",
    "vikhroli": "vikhroli",
    "vikhroli - mumbai": "vikhroli",
    "vikhroli east": "vikhroli",
    "vikhroli,mumbai and airoli": "vikhroli",
    "vikroli": "vikhroli",
    "vikroholi": "vikhroli",
    "vikhroli office": "vikhroli",
    "vikhroli mumbai": "vikhroli",
    "vikhroli,mumbai": "vikhroli",
    "vikhrolli": "vikhroli",
    "vikhrolli": "vikhroli",
    "gurgaon/gurugram": "gurgaon",
    "gurugram": "gurgaon",
    "greater noida": "noida",
    "noida nsez": "noida",
    "nsez noida": "noida",
    "nsez": "noida",
    "noida sez": "noida",
    "new delhi": "delhi",
    "delhi ncr": "delhi",
    "talwade pune": "pune",
    "pune talwade": "pune",
    "punr": "pune",
    "hinjewadi pune": "pune",
    "pune hinjewadi": "pune",
    "chenani": "chennai",
    "trichy": "tiruchirappalli",
    "tiruchirapalli": "tiruchirappalli",
    "tiruchuli": "tiruchirappalli",
    "selam": "salem",
    "yasomite airoli": "yosemite airoli",

    "wfh (working remotely)": "remote",
    "work from home (working remotely)": "remote",
    "remote (working remotely)": "remote",
    "remotely": "remote",
    "although i am still working from home so it depends project to project": "remote",
    "home": "remote",
    "no i work from home only during vivid 29": "remote",
    "trich": "tiruchirapalli",
    "trichirapalli": "tiruchirapalli",
    "trichy,vrn": "tiruchirapalli",
    "trichirapalli": "tiruchirapalli",
    "trichirappalli": "tiruchirapalli",
    "talawade": "pune",
    "talwade": "pune",
    "pu ne": "pune",
    "pu e": "pune",
    "pu": "pune",
    "talvade pune": "pune",
    "talwadde": "pune",
    "talawde": "pune",
    "pune,talawade": "pune",
    "talawade,pune": "pune",
    "pube": "pune",
    "talwade,pune": "pune",
    "talawade pune": "pune",
    "talwade pune. depend it" "s chandes": "pune",
}

all_places = no_place | outside_india | bangalore | rest_of_india


df["Place"] = df["Place"].fillna("na").apply(lambda x: x.lower().split(", ")[0])
df["Place"] = df["Place"].replace(all_places)

# where Place is NA and titla contains the phrase "Remotely" we can assume they work remotely for their Place.
def isRemoteTitle(title, place):
    if "na" == place and "Remotely".casefold() in title.casefold():
        return "remote"
    else:
        return place
df["Place"] = df.apply(lambda x: isRemoteTitle(x.Title, x.Place), axis=1)

In [120]:
def get_date(x):
    try:
        return str(x)[2:]
    except:
        return 'None'
df['Date'] = df['Date'].fillna('0 None').apply(get_date)
df['Date'] = pd.to_datetime(df['Date'], format="%b %Y",  errors='raise')



df.to_csv("after prep.csv", index=False)

# Yonghee Kim - start 110523